@model List<Day2.Models.employee>
@{ 
    ViewBag.Title = "Index";
    int Sn = 0;
}

<h2>Welcome back</h2>
<h3>Employee</h3><br>
<a href="@Url.Action("Create") ">Add a New Record</a>
<table class=" table" border="1"style="background-color:aqua"> 
    <tr>
        <th>Sn</th>
        <th>Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Edit</th>
     
    </tr>
    @foreach (var data in Model)
            {
                <tr>
                    <td>@(++Sn)</td>
                    <td>@(data.Ename)</td>
                    <td>@(data.EAddress)</td>
                    <td>@(data.EContact )</td>
                   <td> <a href="@Url.Action("Edit", new {id=data.Eid })">Edit</a></td>

                  
                </tr>
            }
</table>


